body {
    font-family: 'Georgia', serif;
    background-color: #faf3e0;
    color: #4b3832;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Title Styles */
.title {
    color: whitesmoke;
    background-color: darkolivegreen;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 20px 0;
    margin: 0;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #b76e79;
    text-align: center;
    font-size: 1.8em;
    margin-top: 20px;
}

p {
    margin: 0 20px 20px 20px;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

ul, ol {
    margin: 0 40px 20px 40px;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    margin: 10px 0;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


img {
    display: block;
    margin: 20px auto;
    border: 10px solid #ddd;
    border-radius: 10px;
}

a {
    color: #b76e79;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    body {
        max-width: 750px;
        margin: auto;
        padding: 20px;
    }
}